.App {
  text-align: center;
}

input {
  display: inline-block;
  border-style: none;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 10px;
}

button {
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 6px;
  margin: 5px 5px;
  border-style: none;
  cursor: pointer;
}

button:focus {
    outline: none;
}
